body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align text */
}

h1 {
    color: #007BFF;
}

h2 {
    color: #007BFF;
}

h3 {
    margin-top: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.countdown {
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
}

.rectangle {
    height: 20px; /* Rectangle height */
    background-color: #007BFF; /* Rectangle background color */
    width: 100%; /* Initial width */
    animation: widthAnimation 3s linear forwards; /* Animation for width disappearing */
}

@keyframes widthAnimation {
    0% {
        width: 100%; /* Start with full width */
    }
    100% {
        width: 0; /* End with no width */
    }
}
